<p-dialog header="Vehículo" (onHide)="onClosePopUp()" [(visible)]="popUp" [responsive]="true" showEffect="fade" [modal]="true"
    [width]="500">
    {{vehicle | json}}
    <form [formGroup]="vehicleForm" novalidate class="form-group">
        <div class="row">
            <div class="col-md-3">Marca:</div>
            <div class="col-md-9">
                <input formControlName="brand" type="text" class="form-control" [(ngModel)]="vehicle.brand" />
                <div *ngIf="vehicleForm.get('brand').errors && vehicleForm.get('brand').dirty" class="alert alert-danger">
                    <p *ngIf="vehicleForm.get('brand').hasError('required')">Este campo es obligatorio</p>
                    <p *ngIf="vehicleForm.get('brand').hasError('pattern')">Ingrese una marca válida</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">Modelo:</div>
            <div class="col-md-9">
                <input formControlName="model" type="text" class="form-control" [(ngModel)]="vehicle.model" />
                <div *ngIf="vehicleForm.get('model').errors && vehicleForm.get('model').dirty" class="alert alert-danger">
                    <p *ngIf="vehicleForm.get('model').hasError('required')">Este campo es obligatorio</p>
                    <p *ngIf="vehicleForm.get('model').hasError('pattern')">Ingrese un modelo válido</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">Nro.pasajeros:</div>
            <div class="col-md-9">
                <input formControlName="passengerscapacity" type="number" class="form-control" [(ngModel)]="vehicle.passengerscapacity" />
                <div *ngIf="vehicleForm.get('passengerscapacity').errors && vehicleForm.get('passengerscapacity').dirty" class="alert alert-danger">
                    <p *ngIf="vehicleForm.get('passengerscapacity').hasError('pattern')">Ingrese un número válido</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">Categoria:</div>
            <div class="col-md-9">
                <p-dropdown formControlName="categoria" [options]="categorias" [(ngModel)]="vehicle.categoria" [style]="{'width':'175px'}"
                    placeholder="Seleccionar">
                    <ng-template let-car pTemplate="item">
                        {{car.label}}
                    </ng-template>
                </p-dropdown>
                <div *ngIf="vehicleForm.get('passengerscapacity').errors && vehicleForm.get('passengerscapacity').dirty" class="alert alert-danger">
                    <p *ngIf="vehicleForm.get('passengerscapacity').hasError('required')">Este campo es obligatorio</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">Precio:</div>
            <div class="col-md-9">
                <input formControlName="price" type="number" class="form-control" [(ngModel)]="vehicle.price" />
                <div *ngIf="vehicleForm.get('price').errors && vehicleForm.get('price').dirty" class="alert alert-danger">
                    <p *ngIf="vehicleForm.get('price').hasError('required')">Este campo es obligatorio</p>
                    <p *ngIf="vehicleForm.get('price').hasError('pattern')">Ingrese un precio válido</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">Anho:</div>
            <div class="col-md-9">
                <input formControlName="year" type="number" class="form-control" [(ngModel)]="vehicle.year" />
                <div *ngIf="vehicleForm.get('year').errors && vehicleForm.get('year').dirty" class="alert alert-danger">
                    <p *ngIf="vehicleForm.get('year').hasError('required')">Este campo es obligatorio</p>
                    <p *ngIf="vehicleForm.get('year').hasError('pattern')">Ingrese un anho válido</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">Peso:</div>
            <div class="col-md-9">
                <input formControlName="wight" type="number" class="form-control" [(ngModel)]="vehicle.wight" />
                <div *ngIf="vehicleForm.get('wight').errors && vehicleForm.get('wight').dirty" class="alert alert-danger">
                    <p *ngIf="vehicleForm.get('wight').hasError('required')">Este campo es obligatorio</p>
                    <p *ngIf="vehicleForm.get('wight').hasError('pattern')">Ingrese un peso válido</p>
                </div>
            </div>
        </div>
        <hr>
        <p-footer>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" (click)="onClosePopUp()">Cancelar</button>
                </div>
                <div class="col-md-6">
                    <button type="button" [disabled]="!vehicleForm.valid" (click)="save()">Guardar</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>