<section class="margen-top">
    <div class="container">
        <p-dataTable [value]="vehicles" emptyMessage="No existen vehículos" selectionMode="single" (onRowSelect)="onRowSelect($event)">
            <p-header>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn-primary" (click)="addNewVehicle()">Agregar</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn-primary" (click)="updateVehicle()">Modificar</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn-primary" (click)="deleteVehicle()">Eliminar</button>
                    </div>
                </div>
            </p-header>
            <p-column field="brand" header="Marca"></p-column>
            <p-column field="model" header="Modelo"></p-column>
            <p-column field="year" header="Anho"></p-column>
        </p-dataTable>
        <alta-modifica-vehicle [popUp]="showPopUp" [vehicle]="selectedVehicle" (onClose)="closePopUp($event)"></alta-modifica-vehicle>
    </div>
</section>